.board-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .player-info {
    height: 650px;
    width: 400px;
    background-color: $light-green;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    h2 {
      font-size: 30px;
      margin: 50px 0;
    }
    .player-turn {
      padding: 15px;
      font-size: 20px;
      margin: 10px auto;
      background-color: $orange;
      border-radius: 10px;
      width: 75%;
    }
  }

  .board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 650px;
    background-color: $red;
    border-radius: 10px;
  }

  .square {
    height: 30%;
    width: 30%;
    background-color: $orange;
    border-radius: 10px;
    margin: 7.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
  }
}