.home-container {
  height: calc( 100vh - 175px);
  background-color: $darkgray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-game-button {
  width: 300px;
  height: 100px;
  font-size: 40px;
  letter-spacing: 1px;
  background-color: $orange;
  border: 1px solid $orange;
  cursor: pointer;

  &:hover {
    background-color: $red;
  }
}

