.nav-bar-container {
  height: 100px;
  background-color: $light-green;
  .nav-brand {
    font-size: 30px;
    letter-spacing: 1px;
    color: white;
  }
  .nav-link {
    font-size: 20px;
    color: white;
  }
}

.footer {
  height: 75px;
  background-color: $light-green;
  color: white !important;
  text-decoration: none;
}